---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima-{{ site.minima.skin | default: 'classic' }}";

.embed-spotify-song {
  width: 300px;
  height: 80px;
  position: relative;
  max-width: 100%;
}

.embed-spotify-song iframe, .embed-spotify object, .embed-spotify embed {
  position: absolute;
  width: 300px;
  height: 80px;
  top: 0;
  left: 0;
  max-width: 100%;
}
